/* Импорт Bootstrap полностью */
@import 'bootstrap/dist/css/bootstrap.min.css';
/* Или ваши кастомные стили */
body {
    font-family: 'Inter', sans-serif;
}

.sidebar {
    min-height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}
